.box {
    width: 300px;
    margin:20px;
    padding: 20px;
    border:5px solid  red;
    background-color: #ffff00;
    text-align: center;
}
.box h2 {
    color:rgb(127, 146, 255);
}
.box p {
    color: #666;
}